@import "~materialize-css/dist/css/materialize.min.css";
/* общий css для всех */

h1{
  text-align: center;
}

body{
  background-color: rgba(255, 255, 255, 0.658)!important; 
}

input.yellow-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

input.yellow-input + label {
  color: #ffffff!important;
}

input.yellow-input:focus + label {
  color: #ffeb3b!important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b!important;
  box-shadow: 0 1px 0 0 #ffeb3b!important;
}



.welcom{
  color: rgb(208, 255, 0);
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 300px;
  margin-left: 30px;
  padding-top: 75px;
  height: 200px;
  background-color: rgba(68, 131, 96, 0.404);
  border-radius: 10px;
  margin-top: 5px;
}
